
/* Nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
}

li.dropdown {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    max-width: 75%;
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown_content {
    display: flex;
    flex: auto;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 60%;
    background-color: darkgrey;
}

#major_rev_list {
    min-width: 360px;
}

/* Sections */

h1 {
    font-size: 2em;
    text-decoration: underline;
}
h2 {
    font-size: 1.25em;
}

section > section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.detail {
    width: 40%;
}

.pattern {
    min-width: 258px;
}

canvas {
    display: inline-block;
}