
/* Nav bar */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: lightgrey;
}

li.dropdown {
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: darkgrey;
    max-width: 75%;
    z-index: 1;
}

.dropdown_content a {
    color: black;
    padding: 12px 16px;
    margin: 0;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_content a:hover {
    background-color: grey;
}

.dropdown:hover .dropdown_content {
    display: block;
    max-height: 75%;
    background-color: darkgrey;
}

#major_rev_list {
    columns: 2;
}

#secondary_rev_list {
    columns: 2;
}

#major_rev_list a, #secondary_rev_list a {
    column-fill: auto;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    overflow: hidden;
}

/* Sections */

h1 {
    font-size: 2em;
    text-decoration: underline;
}
h2 {
    font-size: 1.3em;
}
@media only screen and (max-width: 800px) {
    section > section {
        width: 100%;
    }

    .detail {
        width: 100%;
    }
}
@media only screen and (min-width: 801px) {
    section > section {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }

    .detail {
        width: 40%;
    }
}

.pattern {
    min-width: 258px;
}

.confirmation {
    width: 25%;
}

canvas {
    display: inline-block;
}

footer {
    font-size: small;
}